.shareImgWrap{
    width: 500px;
    margin:0 auto;
    margin-top: 50px;
    .shareImg{
        width: 500px;
        height: 500px;
    }
}
.shareButton{
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    color: white;
    letter-spacing: 10px;
    background: #0cadfb;
}